/* LOADER */

#loader {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.spinner {
    width: 40px;
    height: 40px;
    margin: 100px auto;
    background-color: #333;
    border-radius: 100%;
    -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
    animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0)
    }
    100% {
        -webkit-transform: scale(1.0);
        opacity: 0;
    }
}

@keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
        opacity: 0;
    }
}


/* STYLING */

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'DM Sans', sans-serif;
}

body {
    overflow: auto;
    background-image: radial-gradient( circle 732px at -23.9% -25.1%, rgb(9, 14, 53) 6.1%, rgb(4, 0, 7) 100.2%);
}

#globeViz {
    position: static;
}

.landing-page {
    /* display: flex; */
    margin: 40px 0;
}

.even-space {
    width: 100%;
    display: flex;
    justify-content: space-between;
}


/* 
.even-space:nth-child(odd) {
    margin: 4em 8em;
} */


/* INTERFACE CONTROLS */

.interface-container {
    transition-duration: 1s;
    width: 0;
    background-color: rgb(208, 255, 0);
}

.interface-styles-left {
    width: 20vw;
    height: 100vh;
}

.contain-items-right {
    /* position: absolute; */
    right: 0;
    width: 10%;
    height: 100vh;
    text-align: right;
    z-index: -1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    color: white;
}

.grid-right-item-a div p {
    display: block;
    text-align: right;
    font-size: 0.8em;
}

.grid-right-item-a h2 {
    font-size: 1.4em;
}


/* Disable scrolling class add/remove */

.stop-scrolling {
    height: 100%;
    overflow: hidden;
}

.line-break {
    margin: 0;
    padding: 0;
}

.globeBlur {
    filter: blur(10px) brightness(0.8);
    transition-duration: 1s;
}

button:focus {
    outline: none;
    box-shadow: none;
}

button.card {
    margin-top: 15px;
    background: rgba(144, 19, 254, 0.233);
}

button:hover {
    background: rgba(144, 19, 254, 0.322);
}

.container-title {
    display: "none";
    position: absolute;
    color: #ffffff;
    height: 100vh;
    width: 100%;
    display: grid;
    place-items: center;
    text-align: center;
    z-index: 2;
}

.hero-spacer {
    opacity: 0;
    transition: 0.3s;
    visibility: "hidden";
    display: flex;
    height: 170px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.container-title h1::selection {
    background: "#150025";
    /* WebKit/Blink Browsers */
}

.container-title h1 {
    text-transform: uppercase;
    font-size: 3.2em;
    font-weight: bold;
}

.container-title p {
    font-size: 1em;
}

.card {
    font-family: 'Open Sans', sans-serif;
    display: inline-table;
    padding: 10px;
    color: #ffffff;
    transition: 0.3s;
    width: 125px;
    border-radius: 5px;
    z-index: 2;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    /* Glassmorphic fun */
    background: rgba( 144, 19, 254, 0.05);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37);
    backdrop-filter: blur( 11.0px);
    -webkit-backdrop-filter: blur( 11.0px);
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18);
}

.card-title {
    font-weight: bold;
    font-size: 1.15em;
}

.card:nth-child(n + 1) {
    font-size: 0.8em;
}

.container {
    /* padding: 3px 16px; */
    padding-top: 1px;
    padding-bottom: 8px;
    padding-left: 12px;
    padding-right: 12px;
    text-align: left;
}


/* Scroll Button */

*,
 :after,
 :before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

section {
    height: 0;
    width: 0;
    display: table;
}

section.ok {
    /* background-color: #555; */
    margin-left: 1em;
    margin-right: 1em;
    color: white;
}

p {
    color: white;
    font-family: arial;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.scroll-down {
    opacity: 1;
    -webkit-transition: all .5s ease-in 3s;
    transition: all .5s ease-in 3s;
}

.contain-scroll-button {
    opacity: 0;
    transition: all .5s ease-in 3s;
}

.center {
    position: absolute;
    bottom: 30px;
    left: 50%;
}

.scroll-down {
    margin-left: -16px;
    display: block;
    width: 32px;
    height: 32px;
    border: 2px solid #FFF;
    background-size: 14px auto;
    border-radius: 50%;
    z-index: 2;
    -webkit-animation: bounce 3s infinite 3s;
    animation: bounce 3s infinite 3s;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    transform: scale(1)
}

.scroll-down:before {
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 6px);
    transform: rotate(-45deg);
    display: block;
    width: 12px;
    height: 12px;
    content: "";
    border: 2px solid white;
    border-width: 0px 0 2px 2px;
}

@keyframes bounce {
    0%,
    100%,
    20%,
    50%,
    80% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-8px);
        -ms-transform: translateY(-8px);
        transform: translateY(-8px);
    }
}


/* slider */

.val {
    z-index: 5;
    position: absolute;
    bottom: 10%;
    left: 7.5%;
}

.value {
    position: relative;
    text-align: center;
    width: 100%;
    height: 50px;
    line-height: 1.5em;
}

.value::after {
    content: '€';
    margin-left: 5px;
}

input[type="range"] {
    display: block;
    writing-mode: bt-lr;
    /* IE */
    -webkit-appearance: slider-vertical;
    background: rgb(255, 255, 255);
    border-radius: 20px;
    height: 150px;
    width: 5px;
    outline: 0;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #000;
    width: 25px;
    height: 150px;
    border-radius: 50%;
    cursor: pointer;
    transition: .3s ease-in-out;
    margin-left: 0;
    margin-top: 0;
}

input[type="range"]::-webkit-slider-thumb:active {
    transform: scale(1);
}

@media only screen and (max-width: 768px) {
    #globeViz {
        display: none;
    }
}